   {% extends 'blog/base.html' %}

    {% block content %}
<div class="comments"><ul class="collection">
  {% for comment in comments %}

            <li class="collection-item avatar">
      <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
        <strong>{{ comment.created_date }} | {{ comment.author }} | <a href="{% url 'comment_approve' pk=comment.pk %}">APROVE</a> | <a href="{% url 'comment_remove' pk=comment.pk  %}">REMOVE</a></strong>
      <p>{{ comment.text}}</p>
    </li>

{% empty %}
       <li class="collection-item ">


    <p>No comments here</p>
       </li>
{% endfor %}</ul></div>
{% endblock %}