{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>PyBlog</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div class="navbar-fixed">
    <nav>
        <div class=" container nav-wrapper">
            <span class="brand-logo">Hello {{ user.username }}</span>

            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'blog.views.post_list' published=True %}">Latest Posts</a></li>
                {% if user.is_authenticated %}
                     <li><a href="{% url 'blog.views.unapproved_comments' %}">Unapproved Comments</a></li>
                    <li><a href="{% url 'blog.views.post_list' published=False %}">Unpublished Posts</a></li>
                    <li><a href="{% url 'blog.views.post_new' %}"><i class="material-icons right">note_add</i>Add
                        post</a></li>
                    <li><a href="{% url 'django.contrib.auth.views.logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'django.contrib.auth.views.login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>


    {% block layout %}
    {% endblock %}



<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>