{% extends 'blog/base.html' %}
{% block content %}
    <div class="row">
        {% for post in posts %}
            <div class="col s12 m6">


                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="http://materializecss.com/images/office.jpg">
                        {% if post.published_date %}<span class="card-title">{{ post.published_date }}</span>{% endif %}
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">{{ post.title }}</span><i
                            class="material-icons right activator">more_vert</i>
                        <p><a href="{% url 'post_detail' pk=post.pk %}">More</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'post_edit' pk=post.pk %}">Edit</a>
                    <a href="{% url 'post_delete' pk=post.pk %}">Remove</a>
                {% endif %}</p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ post.title }}<i
                                class="material-icons right cx">close</i></span>
                        <p>{{ post.text|linebreaks }}</p>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}