{% extends 'blog/base.html' %}
{% block content %}
    <div class="card detailed">
        <div class="card-image ">
            <img src="http://materializecss.com/images/office.jpg">
                       <span class="card-title"> {% if not post.published_date %}
                           <a href="{% url 'post_publish' pk=post.pk %}" class="waves-effect waves-light btn">Publish</a>
                       {% endif %}


                           {% if user.is_authenticated %}
                               <a href="{% url 'post_edit' pk=post.pk %}" class="waves-effect waves-light btn">Edit</a>
                               <a href="{% url 'post_delete' pk=post.pk %}"
                                  class="waves-effect waves-light btn">Remove</a>{% endif %}</span>
        </div>
        <div class="card-content">
                  <span class="card-title grey-text text-darken-4">{{ post.title }}<i
                          class="material-icons right cx">close</i></span>
            <p>{{ post.text|linebreaks }}</p>
        </div>

    </div>
    <div class="comments"><h5>Comments:</h5>

        <ul class="collection">
            {{ post.comments.approved_comments }}
            {% for comment in post.approved_comments %}

                <li class="collection-item avatar">
                    <img src="http://materializecss.com/images/yuna.jpg" alt="" class="circle">
                    <strong>{{ comment.created_date }} | {{ comment.author }}</strong>
                    <p>{{ comment.text }}</p>
                </li>

            {% empty %}
                <li class="collection-item ">


                    <p>No comments here yet :(</p>
                </li>
            {% endfor %}
        </ul>   <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Add New</button>
        </form><br/><br/>
    </div>
{% endblock %}