body {
    margin: 0;
    padding:0;
    background-color: #F7F7F7;
}
nav {
    background-color: #1a237e;
}
.search {
   float: left;
}
.activator {
    cursor: pointer;
}
.card .card-title.activator {
    cursor: pointer;
    width: 90%;
    line-height: 24px;
    margin-bottom: 15px;
    display: inline-block;
}
.cx {
          position: absolute;
    right: 15px;
    top: 25px;
}
.detailed {
    margin:0;
}
.detailed .card-image{
    height: 300px;
    overflow: hidden;
}
.avatar .circle {
        margin-top: 5px;
}
.comments {
    margin-top: 60px;
}
.comments .collection {
    margin-top:30px;
}